@model IEnumerable<BikePath.Models.User>;
@{
    //ViewData["Title"] = "Статистика";
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <title>Статистика пользователя</title>
</head>
<body>
    <h1>Статистика</h1>
    <h3>Маршруты</h3>
    <table>
        <tr>
            <td>Название</td>
            <td>Протяженность</td>
        </tr>
        @foreach (var user in Model)
        {
            @foreach (var route in user.Routes)
            {
                <tr>
                    <td>@route.Title</td>
                    <td>@route.Length</td>
                </tr>
            }
        }


    </table>
</body>
</html>
