@model User
@{
    ViewData["Title"] = "Главная страница";
}
<h3>Your stat</h3>
<table class="table-condensed" >
    <tr>
        <td>Name:</td>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <td>Email:</td>
        <td>@Model.Email</td>
    </tr>
    <tr>
        <td>Distance:</td>
        <td>@Model.Distance</td>
    </tr>
    <tr><td>ROUTES</td></tr>
</table>
